:root {
  --blue: #73c5ff;
  --transparent-black: rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #042104;
  animation: animateBg 8s linear 5s;
}

@keyframes animateBg {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

section .loader {
  position: relative;
  width: 130px;
  height: 130px;
}

section .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

section .loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
/*  border-radius: 50%;*/
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;     
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  80%, 100% {
    transform: scale(0);
  }
}

.myborder {
  border: 5px solid var(--blue);
  background-color: transparent;
  box-shadow: 6px 6px 8px var(--blue);
  border-radius: 10px;
}

.main {
  position: relative;
  background: url("../images/butterflies-background.jpg") no-repeat center; /*the path is relative to the .css file*/
  background-size: cover;
  height: 850px;
}

div.game-frame {
  position: absolute;
  top: 40px;
  width: 58%;
  height: 650px;
}

.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-board canvas {
  /*  border: 20px solid transparent;
border-image: url("/images/border.png") 20% stretch;*/
  position: relative;
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(315deg, #4dff03, #00d0ff);
  box-shadow: 6px 6px 8px green;
}

.game-board .menu {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-black);
  border: 5px outset green;
}

.game-board .menu div.logo {
  margin: 40px auto 60px auto;
  width: 90%;
  border: 5px double green;
  outline: 2px solid blue;
  box-shadow: 4px 4px 5px blue;
}

.game-board .menu div.logo p {
  text-align: center;
  font-size: 0px; /*remove the space between two <span>*/
  text-shadow: 2px 2px 4px green;
}

.game-board .menu div.logo p span {
  font-size: 45px;
  font-weight: bold;
}

.menu > p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  display: none;
}

.button {
  display: block;
  margin: auto auto 10px auto;
  width: 65%;
  height: 35px;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
}

.menu #resumeBtn, .menu #quitBtn, .menu #restartBtn {
  display: none;
}

#settingsMenu {
  display: none;
}

#settingsMenu form {
  color: white;
  margin: auto;
  width: 75%;
  height: 35%;
}

.button:hover {
  background-color: limegreen;
}

.button:active {
  transform: translateY(3px);
}

p.format {
  margin: 10px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: yellow;
}

.hold {
  float: left;
  margin-left: 40px;
  margin-top: 40px;
  width: 25%;
  height: 170px;
  text-align: center; /*this center the canvas horizontally ???? wtf */
}

.hold canvas {
  width: 90%;
  height: 65%;
  background-color: var(--transparent-black);
}

.next {
  float: right;
  margin-right: 40px;
  margin-top: 40px;
  width: 25%;
  height: 170px;
  text-align: center; /*this center the canvas horizontally ???? wtf */
}

.next canvas {
  width: 90%;
  height: 65%;
  background-color: var(--transparent-black);
}

.relaxing-music {
  clear: right;
  float: right;
  margin-right: 35px;
  margin-top: 35px;
  width: 20%;
  height: 230px;
}

.relaxing-music iframe {
  display: block;
  margin: auto;
  width: 95%;
  height: 65%;
}

.score-level-lines {
  position: absolute;
  float: left;
  left: 40px;
  bottom: 40px;
  width: 25%;
  height: 320px;
}

.score-level-lines div {
  margin: auto;
  width: 90%;
  height: 18%;
  background-color: var(--transparent-black);
  color: lime;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pauseBtn {
  display: none;
  position: absolute;
  right: 180px;
  bottom: 40px;
  font-size: 40px;
  padding: 10px 15px;
  color: white;
  border: 5px solid var(--blue);
  background-color: var(--transparent-black);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--blue);
}

#pauseBtn:hover {
  background-color: var(--blue);
}

#pauseBtn:active {
  transform: translateY(8px);
}

#help {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242323;
  border: 5px groove white;
}

footer {
  background-color: #1a1a1a;
  padding: 10px;
  color: #999999;
}

footer h2 {
  position: relative;
  color: white;
}

footer h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70px;
  height: 3px;
  background: red;
}

footer i {
  color: #e6e6e6;
}

.footer {
  display: flex;
  flex-direction: row;
  height: auto;
}

.footer .about-tetris {
  flex: 40%;
  padding: 0 15px;
}

.footer .designed-by {
  flex: 20%;
  padding: 0 15px;
}

.footer .social-media {
  flex: 20%;
  padding: 0 15px;
}

.footer .social-media i {
  display: inline-block;
  text-align: center;
  background-color: #333333;
  width: 30px;
  padding: 7px 0;
  border-radius: 5px;
}

.footer .social-media i:hover {
  background-color: red;
}

.footer .contact-info {
  flex: 20%;
  padding: 0 15px;
}

.footer .contact-info > p:hover {
  color: green;
  cursor: pointer;
}
